<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/wish_list.css">
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/finish_wish_list.js"></script>
</head>
<body>
	<div class="container">
		<header class="header project-header">
			<a href="" class="logo project-logo"></a>
			<a href="" class="header-orange logo-tips">for HCI</a>
			<a href="" class="complete-wish">愿望树</a>
			<button class="suggest"></button>
		</header>
		<div class="body project-body" id="project-body">
			<h1 class="project-title" id="project-title"></h1>
			<p class="project-content" id="project-content">
			</p>
			<div class="wish-box">
				<section class="status-finish">
					<section class="wish-item">
						<div class="wish-status" id="status-finish"></div>
						<div class="wish-avatar avatar" id="avatar-jation"></div>
						<article class="wish-content-box">
							<div class="wish-operate">
								<a href="">更多</a>
								&nbsp
								<a href="">获准</a>
								&nbsp
								<a href="">删除</a>
							</div>
							<span class="wish-content">写了一个晚上，终于写了点像样的，一边设计一边写，没草稿，感觉反而挺牛逼。</span>
						</article>
						<div class="wish-more-box">
							<span class="wish-info">Sorm @ 2013-7-12</span>
							<a href="" class="comment-text">评论(10)</a>
						</div>
						<div class="wish-vote">
							<span>28</span>
							<a href="">+1</a>
						</div>
					</section>
				</section>
			</div>	
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu">
					<a href="">愿望树</a>
					&nbsp&nbsp|&nbsp&nbsp
					<a href="">创建项目</a>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="">SCAU@HCI</a></span>
			</div>
		</footer>
	</div>
</body>
</html>