<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>愿望树登录</title>
	<link rel="stylesheet" href="/stylesheets/index.css">
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/vertify.js"></script>
	<script  type="text/javascript" src="/javascripts/index.js"></script>
</head>
<body>
	<div class="container">
		<header class="header">
			<a href="" class="logo"></a>
			<a href="http://www.scauhci.org" class="header-orange logo-tips">for HCI</a>
		</header>
		<div class="body">
			<p class="title">登录</p>
			<form method="get" action="/pro_list/<mail>/<name>" class="login-form" id="login-form">
				<input type="text" class="login-input login-account" id="login-account" placeholder="邮箱">
				<input type="password" class="login-input login-password" id="login-password" placeholder="密码">
				<input type="submit" value="登录" class="btn login-btn">
				<a href="/register_page" class="register">注册账号</a>
			</form>
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu">
					<a href="">愿望树</a>
					&nbsp&nbsp|&nbsp&nbsp
					<a href="">创建项目</a>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="http://www.scauhci.org">SCAU@HCI</a></span>
			</div>
		</footer>
	</div>
</body>
</html>