<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/wish_list.css">
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/vertify.js"></script>
	<script type="text/javascript" src="/javascripts/template.js"></script>
	<script type="text/javascript" src="/javascripts/wish_list.js"></script>
</head>
<body>
	<div class="container">
		<header class="header project-header">
			<a href="" class="logo project-logo"></a>
			<a href="" class="header-orange logo-tips">for HCI</a>
			<a href="/finish_wish_list_page/<%= project_id %>" class="complete-wish">愿望成真</a>
			<button class="suggest" id="suggest"></button>
		</header>
		<div class="body project-body" id="project-body">
			<h1 class="project-title" id="project-title"></h1>
			<p class="project-content" id="project-content">
			</p>
			<div class="wish-box">
				<section class="status-going">
					<section class="wish-item">
						<div class="wish-status" id="status-ongoing"></div>
						<div class="wish-avatar avatar" id="avatar-storm"></div>
						<article class="wish-content-box">
							<div class="wish-operate">
								<a href="">更多</a>
								&nbsp
								<a href="">完成</a>
								&nbsp
								<a href="">删除</a>
							</div>
							<span class="wish-content">尼玛写了一个晚上，终于写了点像样的，一遍设计一遍写，没草稿，感觉反而挺牛逼。</span>
						</article>
						<div class="wish-more-box">
							<span class="wish-info">Sorm @ 2013-1-15</span>
							<a class="comment-text">评论(10)</a>
						</div>
						<div class="wish-vote">
							<span>28</span>
							<a href="">+1</a>
						</div>
					</section>

					<section class="wish-item">
						<div class="wish-status" id="status-ongoing"></div>
						<div class="wish-avatar avatar" id="avatar-eric"></div>
						<article class="wish-content-box">
							<div class="wish-operate">
								<a href="">更多</a>
								&nbsp
								<a href="">完成</a>
								&nbsp
								<a href="">删除</a>
							</div>
							<span class="wish-content">中国共产党中央政治局常务委员会，简称“中共中央政治局常委会”，由中国共产党中央委员会全体会议选举产生。其成员（委员）简称“中共中央政治局常委”，是中华人民共和国重要的党和国家领导人，也是中国共产党中央领导集体的重要成员。 2012年11月15日，党的十八届一中全会选举习近平、李克强、张德江、俞正声、刘云山、王岐山、张高丽为中央政治局常委。  第十七届中共中央政治局常委[4]1956年中共八大至1982年中共十二大召开前的党章中曾设有中央委员会副主席一职，任职者皆为中共中央政治局常委。副主席在党内的排名仅次于当时作为最高负责人的中国共产党中央委员会主席（中共中央主席）。十二大通过的党章除了废除党主席和副主席，改以总书记为党首以外，还规定中国共产党中央军事委员会主席、中国共产党中央顾问委员会主任和中国共产党中央纪律检查委员会书记（当时称第一书记）这三个职务的担任者必须从中央政治局常委中产生，当时邓小平和陈云分别担任这三个要职。这项规定在十三大邓小平等退出政治局常委会后取消[5]。</span>
						</article>
						<div class="wish-more-box">
							<span class="wish-info">Sorm @ 2013-1-15</span>
							<a class="comment-text">评论(10)</a>
						</div>
						<div class="wish-vote">
							<span>28</span>
							<a href="">+1</a>
						</div>
						<div class="comment-box">
							<em class="triangle"></em>
							<div class="comment-box-input-row">
								<input type="text" class="comment-input">
								<button class="comment-submit-btn">回复</button>
							</div>
							<div class="comment-box-row">
								<span class="person-text">Storm:</span>
								<span class="ordinary-text">这提议真好！</span>
							</div>
							<div class="comment-box-row">
								<span class="person-text">Storm:</span>
								<span class="ordinary-text">xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx</span>
							</div>
						</div>
					</section>

				</section>
				<section class="status-iwish">
					<section class="wish-item">
						<div class="wish-status" id="status-iwish"></div>
						<div class="wish-avatar avatar" id="avatar-jation"></div>
						<article class="wish-content-box">
							<div class="wish-operate">
								<a href="">更多</a>
								&nbsp
								<a href="">获准</a>
								&nbsp
								<a href="">删除</a>
							</div>
							<span class="wish-content">尼玛写了一个晚上，终于写了点像样的，一遍设计一遍写，没草稿，感觉反而挺牛逼。</span>
						</article>
						<div class="wish-more-box">
							<span class="wish-info">Sorm @ 2013-1-15</span>
							<a class="comment-text">评论(10)</a>
						</div>
						<div class="wish-vote">
							<span>28</span>
							<a href="">+1</a>
						</div>
					</section>

					<section class="wish-item">
						<div class="wish-status" id="status-iwish"></div>
						<div class="wish-avatar avatar" id="avatar-michael"></div>
						<article class="wish-content-box">
							<div class="wish-operate">
								<a href="">更多</a>
								&nbsp
								<a href="">获准</a>
								&nbsp
								<a href="">删除</a>
							</div>
							<span class="wish-content">中国共产党中央政治局常务委员会，简称“中共中央政治局常委会”，由中国共产党中央委员会全体会议选举产生。其成员（委员）简称“中共中央政治局常委”，是中华人民共和国重要的党和国家领导人，也是中国共产党中央领导集体的重要成员。 2012年11月15日，党的十八届一中全会选举习近平、李克强、张德江、俞正声、刘云山、王岐山、张高丽为中央政治局常委。  第十七届中共中央政治局常委[4]1956年中共八大至1982年中共十二大召开前的党章中曾设有中央委员会副主席一职，任职者皆为中共中央政治局常委。副主席在党内的排名仅次于当时作为最高负责人的中国共产党中央委员会主席（中共中央主席）。十二大通过的党章除了废除党主席和副主席，改以总书记为党首以外，还规定中国共产党中央军事委员会主席、中国共产党中央顾问委员会主任和中国共产党中央纪律检查委员会书记（当时称第一书记）这三个职务的担任者必须从中央政治局常委中产生，当时邓小平和陈云分别担任这三个要职。这项规定在十三大邓小平等退出政治局常委会后取消[5]。</span>
						</article>
						<div class="wish-more-box">
							<span class="wish-info">Sorm @ 2013-1-15</span>
							<a class="comment-text">评论(10)</a>
						</div>
						<div class="wish-vote">
							<span>28</span>
							<a href="">+1</a>
						</div>
					</section>
				</section>
			</div>	
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu wish-tree-menu">
					<div>
						<input type="text" placeholder="管理密码" class="login-input wish-menu-input" id="wish-menu-input">
						<button class="btn wish-menu-btn" value="<%= project_id %>">确定</button>
					</div>
					<div class="wish-tree-menu-a"><a href="/create_pro">创建项目</a></div>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="">SCAU@HCI</a></span>
			</div>
		</footer>
	</div>
	<div class="all-screen" id="all-screen">
	</div>
	<form action="" class="wish-form" id="wish-form">
			<h1 class="wish-form-title">我的愿望：</h1>
			<textarea id="wish-form-content" class="wish-form-content" placeholder="愿望一定会成真的" maxlength="250"></textarea>
			<div class="wish-form-btn-row">
				<button class="wish-form-btn" id="wish-form-btn" type="submit">提交</button>
				<button class="wish-form-btn" type="reset">重写</button>
			</div>
	</form>
</body>
</html>