<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title></title>
	<link rel="stylesheet" href="/stylesheets/layout.css">
	<link rel="stylesheet" href="/stylesheets/wish_list.css">
	<script type="text/javascript" src="/javascripts/jquery-1.7.min.js"></script>
	<script type="text/javascript" src="/javascripts/vertify.js"></script>
	<script type="text/javascript" src="/javascripts/template.js"></script>
	<script type="text/javascript" src="/javascripts/wish_list.js"></script>
</head>
<body>
	<div class="container">
		<header class="header project-header">
			<a href="" class="logo project-logo"></a>
			<a href="" class="header-orange logo-tips">for HCI</a>
			<a href="/finish_wish_list_page/<%= project_id %>" class="complete-wish">愿望成真</a>
			<button class="suggest" id="suggest"></button>
		</header>
		<div class="body project-body" id="project-body">
			<h1 class="project-title" id="project-title"></h1>
			<p class="project-content" id="project-content">
			</p>
			<div class="wish-box">
				<section class="status-going"></section>
				<section class="status-iwish"></section>
			</div>	
		</div>
		<footer>
			<div class="footer-box">
				<section class="menu wish-tree-menu">
					<div class="wish-tree-menu-form">
						<input type="text" placeholder="管理密码" class="login-input wish-menu-input" id="wish-menu-input" type="password">
						<button class="btn wish-menu-btn" value="<%= project_id %>" id="wish-menu-btn">确定</button>
					</div>
					<div class="wish-tree-menu-a"><a href="/create_pro">创建项目</a></div>
				</section>
			</div>
			<div class="footer-author">
				<span>技术指导:梁广彬 黄浩松 黄佳生</span>
				&nbsp&nbsp&nbsp&nbsp
				<span>版权所有:<a href="">SCAU@HCI</a></span>
			</div>
		</footer>
	</div>
	<div class="all-screen" id="all-screen">
	</div>
	<form action="" class="wish-form" id="wish-form">
			<h1 class="wish-form-title">我的愿望：</h1>
			<textarea id="wish-form-content" class="wish-form-content" placeholder="愿望一定会成真的" maxlength="250"></textarea>
			<div class="wish-form-btn-row">
				<button class="wish-form-btn" id="wish-form-btn" type="submit">提交</button>
				<button class="wish-form-btn" type="reset">重写</button>
			</div>
	</form>
</body>
</html>